<h1 class='restaurant-show-title'>修改訂單</h1>
<div class='container'>
  <form action="/admin/orders/{{id}}/check" method="POST">

  <table class='table border-bottom'>
    <thead class='thead-dark'>
      <tr>
        <th scope='col'>商品名稱</th>
        <th scope='col'>單價</th>
        <th scope='col'>數量</th>
      </tr>
    </thead>
    <tbody id="products">
    
      {{#each products}}
        <tr>
          <th scope='row'>{{this.name}}</th>
          <td><input class="w-25" name="{{this._id}}_price" type="text" value="{{this.price}}">/ {{this.price}} 元</td>
          <td><input class="w-25" name="{{this._id}}_num" type="text" value="{{this.num}}">/ {{this.num}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <div class='d-flex justify-content-between'>
    <div class=""> 
      <h6>訂單編號: {{id}}</h3>
      <h6>下訂時間:  {{createdAt}}</h3>
      <h6><label for="status">
        訂單狀態:  
        <select name="status" id="status">
          <option value="unfinished" 
          {{#ifCond status 'unfinished'}}
          selected
          {{/ifCond}}
          >尚未付款 </option>
          <option value="cancel"          
          {{#ifCond status 'cancel'}}
          selected
          {{/ifCond}} >取消</option>
          <option value="finished"          
          {{#ifCond status 'finished'}}
          selected
          {{/ifCond}}>已付款</option>
        </select>
      </label> </h6>
      <h6><label for="isSent">
        出貨狀態:  
        <select name="isSent" id="isSent">
          {{#if isSent}}
            <option value="1" selected>已出貨</option>
            <option value="0">尚未出貨</option>
          {{else}}
            <option value="1">已出貨</option>
            <option value="0" selected>尚未出貨</option>
          {{/if}}
        </select>
      </label> </h6>
    </div>
     <h3 class=''>
      訂單原始 共
      {{totalPrice}}元
    </h3>
  </div>
  <div
    class='text-right border-top row justify-content-center'
  >
    <div class="col">
    <h3 class="col-12 text-center  mt-5 mb-5">客戶資訊</h3>
      <div class='form-group row'>
      <label for='staticEmail' class='col-sm-2 col-form-label text-center'>Email</label>
      <div class='col-sm-10'>
        <input
          type='text'
          disabled
          class='form-control'
          id='staticEmail'
          value='{{user.email}}'
        />
      </div>
    </div>
    <div class='form-group row'>
      <label for='inputName' class='col-sm-2 col-form-label text-center'>姓名</label>
      <div class='col-sm-10'>
        <input
          type='text'
          class='form-control'
          id='inputName'
          name='name'
          disabled
          value='{{receiverInfo.name}}'
        />
      </div>
    </div>
    <div class='form-group row'>
      <label for='inputPhone' class='col-sm-2 col-form-label text-center'>手機</label>
      <div class='col-sm-10'>
        <input
          type='text'
          class='form-control'
          id='inputPhone'
          name='phone'
          disabled
          value='{{receiverInfo.phone}}'
        />
      </div>
    </div>
    <div class='form-group row'>
      <label for='inputMailNum' class='col-sm-2 col-form-label text-center'>郵遞區號</label>
      <div class='col-sm-10'>
        <input
          type='text'
          class='form-control'
          id='inputMailNum'
          ,
          name='mailNum'
          disabled
          value='{{receiverInfo.mailNum}}'
        />
      </div>
    </div>
    <div class='form-group row mb-5 text-center'>
      <label for='inputAddress' class='col-sm-2 col-form-label'>地址</label>
      <div class='col-sm-10'>
        <input
          type='text'
          class='form-control'
          id='inputAddress'
          ,
          name='address'
          disabled
          value='{{receiverInfo.address}}'
        />
      </div>
    </div>
  </div>
  <div class="col">
    <h3 class="col-12 text-center  mt-5 mb-5">寄件資訊</h3>
      <div class='form-group row'>
      <label for='staticEmail' class='col-sm-2 col-form-label text-center'>Email</label>
      <div class='col-sm-10'>
        <input
          type='text'
          disabled
          class='form-control'
          id='staticEmail'
          value='{{user.email}}'
        />
      </div>
    </div>
    <div class='form-group row'>
      <label for='inputName' class='col-sm-2 col-form-label text-center'>姓名</label>
      <div class='col-sm-10'>
        <input
          type='text'
          class='form-control'
          id='inputName'
          name='name'
          
          value='{{receiverInfo.name}}'
        />
      </div>
    </div>
    <div class='form-group row'>
      <label for='inputPhone' class='col-sm-2 col-form-label text-center'>手機</label>
      <div class='col-sm-10'>
        <input
          type='text'
          class='form-control'
          id='inputPhone'
          name='phone'
          
          value='{{receiverInfo.phone}}'
        />
      </div>
    </div>
    <div class='form-group row'>
      <label for='inputMailNum' class='col-sm-2 col-form-label text-center'>郵遞區號</label>
      <div class='col-sm-10'>
        <input
          type='text'
          class='form-control'
          id='inputMailNum'
          ,
          name='mailNum'
          
          value='{{receiverInfo.mailNum}}'
        />
      </div>
    </div>
    <div class='form-group row mb-5 text-center'>
      <label for='inputAddress' class='col-sm-2 col-form-label'>地址</label>
      <div class='col-sm-10'>
        <input
          type='text'
          class='form-control'
          id='inputAddress'
          ,
          name='address'
          
          value='{{receiverInfo.address}}'
        />
      </div>
    </div>
  </div>
  </div>
  <div class="d-flex justify-content-center">
  <button class="w-25 btn btn-secondary">修改</button>
  </div>
  </form>
</div>
