<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />

  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' />
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css' />
  {{#if isIndex}}
  <link rel='stylesheet' href='/css/index.css' />
  {{else}}
  <link rel='stylesheet' href='/css/show.css' />
  {{/if}}

  <title>{{pageTitle}}</title>
</head>

<body>
  <div class='container'>
    <nav class='navbar navbar-expand-lg navbar-light'>
      <div class='container'>
        <a class='navbar-brand' {{#ifCond user.role 'admin' }} href='/admin/orders' {{else}} href='/' {{/ifCond}}>
          <img src='https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png'
            width='30' height='30' class='d-inline-block align-top' alt='' />
          MY SHOP
        </a>
        <ul class='navbar-nav d-flex list-unstyled'>
          {{#if isAuthenticated}}
          {{#ifCond user.role 'admin'}}
          <li class='nav-item text-secondary rounded'><a href='/' class='nav-link'>回首頁</a></li>
          <li class='nav-item text-secondary rounded'><a href='/admin/categories' class='nav-link'>種類管理</a></li>
          <li class='nav-item text-secondary rounded'><a href='/admin/products' class='nav-link'>產品管理</a></li>
          <li class='nav-item text-secondary rounded'><a href='/admin/products/create' class='nav-link'>新增產品</a></li>
          <li class='nav-item text-secondary rounded'><a href='/admin/orders' class='nav-link'>訂單管理</a></li>
          <li class='nav-item text-secondary rounded'><a href='/users/logout' class='nav-link'>logout</a></li>
          {{else}}
          <li class='nav-item text-secondary rounded'><a href='/wishlist' class='nav-link'>喜愛清單</a></li>
          <li class='nav-item text-secondary rounded'><a href='/cart' class='nav-link'>購物車</a></li>
          <li class='nav-item text-secondary rounded'><a href='/users/{{user._id}}' class='nav-link'>個人資料</a></li>
          <li class='nav-item text-secondary rounded'><a href='/users/logout' class='nav-link'>會員登出</a></li>
          {{/ifCond}}
          {{else}}
          <li class='nav-item text-secondary rounded'><a href='/wishlist' class='nav-link'>喜愛清單</a></li>
          <li class='nav-item text-secondary rounded'><a href='/cart' class='nav-link'>購物車</a></li>
          <li class='nav-item text-secondary rounded'><a href='/users/login' class='nav-link'>會員登入</a></li>
          {{/if}}
        </ul>
      </div>
    </nav>
  </div>
  <!-- navigation -->

  <div class='banner mb-3'></div>

  {{{body}}}
  <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'
    integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo'
    crossorigin='anonymous'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js'
    integrity='sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut'
    crossorigin='anonymous'></script>
  <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js'
    integrity='sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k'
    crossorigin='anonymous'></script>
</body>

</html>