<h1 class='restaurant-show-title'>My Shop</h1>
<!-- search bar -->
<div class='container'>
  <div class='row no-gutters'>

  <div class="col-12 row justify-content-between ">
    {{>message}}
  </div>

    </div>
    <div class='col-12 row justify-content-between'>
      <form action='/products/search ' class='col-4 p-0'>
        <div class='input-group'>
          <input
            type='text'
            name='keyword'
            class='form-control'
            placeholder='輸入商品名稱'
            aria-label='Restaurant Name...'
            value= 
            {{#if keyword}}
            {{keyword}}
            {{else}}
            ''
            {{/if}}
            aria-describedby='search-button'
          />
          <div class='input-group-append'>
            <button class='btn btn-major' type='submit' id='search-button'><i
                class='fas fa-search'
              ></i></button>
          </div>
        </div>
      </form>
      <div class='col-4 dropdown d-flex justify-content-end p-0'>
        <button
          class='btn btn-danger dropdown-toggle'
          type='button'
          id='dropdownMenu2'
          data-toggle='dropdown'
          aria-haspopup='true'
          aria-expanded='false'
        >
        {{#if orderName_cht}}
          {{orderName_cht}}
        {{else}}
          商品排序
        {{/if}}
        </button>
        {{#if keyword}}
        <div class='dropdown-menu' aria-labelledby='dropdownMenu2'>
          <a
            href='/products/search?order=low-high&keyword={{keyword}}'
            class='dropdown-item'
            type='button'
          >價錢低到高</a>
          <a
            href='/products/search?order=high-low&keyword={{keyword}}'
            class='dropdown-item'
            type='button'
          >價錢高到低</a>
          <a
            href='/products/search?order=A-Z&keyword={{keyword}}'
            class='dropdown-item'
            type='button'
          >A-Z</a>
          <a
            href='/products/search?order=Z-A&keyword={{keyword}}'
            class='dropdown-item'
            type='button'
          >Z-A</a>
        </div>
        {{else}}
          <div class='dropdown-menu' aria-labelledby='dropdownMenu2'>
          <a
            href='/?order=low-high&category={{this.category}}'
            class='dropdown-item'
            type='button'
          >價錢低到高</a>
          <a
            href='/?order=high-low&category={{this.category}}'
            class='dropdown-item'
            type='button'
          >價錢高到低</a>
          <a
            href='/?order=A-Z&category={{this.category}}'
            class='dropdown-item'
            type='button'
          >A-Z</a>
          <a
            href='/?order=Z-A&category={{this.category}}'
            class='dropdown-item'
            type='button'
          >Z-A</a>
        </div>
        {{/if}}
      </div>
    </div>

  </div>

</div>

<!-- product list -->
<div class='container mt-3'>
  <div class='row '>
    <div class='col-2 list-group'>
      <a class='list-group-item bg-light '>商品分類</a>
      <a href="/"
        class='list-group-item list-group-item-action list-group-item-light 
        {{#if category}}
        {{else}}
        active
        {{/if}}'
        aria-disabled='true'
      >全部</a>
      {{#each categories}}
      <a href="/?category={{this.url}}"
        class='list-group-item list-group-item-action list-group-item-light 
        {{#ifCond ../category this.name}}
        active {{../category}}
        {{/ifCond}}
        '
      >{{this.name}}</a>
      {{/each}}
    </div>
    <div class='row col-md-10 col-12 mx-auto justify-content-center'>
      {{#each products}}
      <div class='col-md-4 col-12'>
        <div class='text-secondary w-100'>
          <a href='/products/{{this._id}}' class='card rounded-0 text-decoration-none'>
            <img class='card-img-top' src='{{this.pic}}' alt='{{this.pic}}' style="height: 183px;" />
            <div class='card-body pb-0 text-secondary'>
              <h5 class='card-title mb-1'>{{this.shortName}}</h5>
              <span class='badge badge-primary'>Primary</span>
              <h6 class='card-title mb-'>$ {{this.price}}</h6>
            </div>
          </a>
          <div class='w-100 row no-gutters'>
            {{#if this.isInWishlist}}
             <form
              action='/wishlist?_method=PUT'
              method='POST'
              class='col-6 p-0'
            >
            <input type="text" hidden name='id' value="{{this._id}}">
              <button
                class='w-100 h-100 btn btn-info rounded-0'
              >移除願望清單</button>
            </form>
            {{else}}
            <form
              action='/wishlist'
              method='POST'
              class='col-6 p-0'
            >
            <input type="text" hidden name='id' value="{{this._id}}">
            <input type="text" hidden name='pic' value="{{this.pic}}">
            <input type="text" hidden name='name' value="{{this.name}}">
            <input type="text" hidden name="price" value="{{this.price}}">
              <button
                class='w-100 h-100 btn btn-warning rounded-0'
              >加入願望清單</button>
            </form>
            {{/if}}
            <form
              action='/cart'
              method='POST'
              class='col-6 p-0'
            >
            <input type="hidden" name="id" value="{{this._id}}">
            <input type="hidden" name="num" value="1">
              <button class='w-100 btn btn-danger rounded-0'>加入購物車</button>
            </form>
          </div>
        </div>
      </div>
      {{/each}}

    <nav aria-label="Page navigation col-8 ">
      <ul class="pagination mt-4">

        <li class="page-item"><a class="page-link" href="/?category={{category}}&order={{order}}&page={{prev}}">Previous</a></li>
         {{#each pages}}
        <li class="page-item         
        {{#ifCond ../page this}}
        active
        {{/ifCond}}"><a class="page-link" href="/?category={{../category}}&order={{../order}}&page={{this}}">{{this}}</a></li>
        {{/each}}
        <li class="page-item"><a class="page-link" href="/?category={{category}}&order={{order}}&page={{next}}">Next</a></li>
      </ul>
    </nav>
    </div>

  </div>
</div>